@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

h1 {
    width: 100%;
    height: auto;
    margin: 0px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}
h2 {
    width: 100%;
    height: auto;
    margin: 0px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
h3 {
    width: 100%;
    height: auto;
    margin: 0px;
    text-align: start;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}
h4 {
    margin: 0px;
    text-align: start;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

p {
    margin-top: 0px;
}

em {
    margin: 0px;
    text-align: start;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
}

img {
    width: 30px;
    height: 30px;
}

ul li {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
}

#Links {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;
    align-content: center;
}

#Content {
    position: relative;
}
#Content div {
    position: absolute;
    top: 0px;
    right: 0px;
}
#Content div p em {
    display: block;
    margin-bottom: 0px;
}
